@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom tweaks */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* optional small helper */
.aspect-video { aspect-ratio: 16/9; }
